{% extends "default.twig" %}
{% block content %}

<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>TITLE</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">

	<link href="../css/common-css/ionicons.css" rel="stylesheet">


	<link href="../css/layout-1/css/styles.css" rel="stylesheet">

	<link href="../css/layout-1/css/responsive.css" rel="stylesheet">
    <style>
        .style{
            text-indent: 30%;
        }
    </style>
</head>
<body>



<section class="blog-area section" >
	<div class="container">

		<div class="row">




				<div class="col-lg-4 col-md-6" style="width: 370px">
					<div class="card h-100">
						<div class="single-post post-style-1">

							<div class="blog-image">
							{# <img src="../css/produit/image/{{post.img}}?>" alt="Blog Image"> #}
							<img id="output" width="200" /> </div>

							{# <a class="avatar" href="#"><img src="../css/images/icons8-team-355979.jpg" alt="Profile Image"></a> #}

							<div class="blog-info">
                            <form method="post" action="public?p=adminPost/updatePost/{{post.id}}" enctype="multipart/form-data">

								{# <h4 class="title"><a href="#"><b>{{ post.titre }}</b></a></h4>
								<h6 class="title"><a href="#"><b>{{ post.chapo }}</b></a></h6> #}
                                {# <label>titre</label> #}
                            <input type="text" value="{{post.titre}}" name="titre" id="titre">
                            {# <label>chapo</label> #}
                            </br>
							 </br>
                            <input type="text" value="{{post.chapo}}" name="chapo" id="chapo">
							</br>
							 </br>
                            <input type="date" value="{{post.date_mjr}}" name="date_mjr" >
							</br>
							 </br>
                            <input type="date" value="{{post.date_modif}}" name="date_modif" >
							</br>
							</br>
							<input type="file" name="file" id="file" onchange="loadFile(event)">
								

							</div><!-- blog-info -->
						</div><!-- single-post -->
					</div><!-- card -->
                    <input type="submit" name="Update" class="btn" value="Valider">
                    </form>
                </a>
				</div><!-- col-lg-4 col-md-6 -->
			
			</div><!-- card -->
		</div><!-- col-lg-4 col-md-6 -->
		</section>
	</div>
<!-- SCIPTS -->

<script src="vue/common-js/jquery-3.1.1.min.js"></script>

<script src="vue/common-js/tether.min.js"></script>

<script src="vue/common-js/bootstrap.js"></script>

<script src="vue/common-js/scripts.js"></script>

<script>
var loadFile = function(event) {
    var file = document.getElementById('output');
    file.src = URL.createObjectURL(event.target.files[0]);
};
</script>


</body>
</html>
{% endblock %}

{# {{post.id}} #}