{% extends "layout.twig" %}

{% block title %}Liste des posts{% endblock %}

{% block content %}
    <section class="blog-area section">
        <div class="container">
            <div class="row">
                {% for post in posts %}
                    <div class="col-lg-4 col-md-4" style="width: 370px;">
                        <a href="public?p=posts/post/{{ post.id }}">
                            <div class="card h-100">
                                <div class="single-post post-style-1">
                                    <div class="blog-image"><img src="../css/produit/image/{{ post.img }}?>"
                                                                 alt="Blog Image"></div>

                                    <a class="avatar" href="#"><img src="../css/images/icons8-team-355979.jpg"
                                                                    alt="Profile Image"></a>

                                    <div class="blog-info">

                                        <h4 class="title"><a href="#"><b>{{ post.titre }}</b></a></h4>
                                        <h6 class="title"><a href="#"><b>{{ post.chapo }}</b></a></h6>
                                        <h6 class="title"><a href="#"><b>{{ post.nom }}</b></a></h6>

                                        <ul class="post-footer">
                                            <li><a href="#"><i class="ion-laptop"></i>{{ post.dateMjr }}</a></li>
{#                                            <li><a href="#"><i class="ion-chatbubble"></i>6</a></li>#}
{#                                            <li><a href="#"><i class="ion-eye"></i>138</a></li>#}
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                {% endfor %}
            </div>
        </div>
    </section>

    <script src="vue/common-js/jquery-3.1.1.min.js"></script>
    <script src="vue/common-js/tether.min.js"></script>
    <script src="vue/common-js/bootstrap.js"></script>
    <script src="vue/common-js/scripts.js"></script>

{% endblock %}
