{% extends "layout.twig" %}
{% block title %}Modification d'un post {% endblock %}

{% block content %}
    <section class="blog-area section">
        <div class="container">
            <div class="row">
                <form method="post" action="public?p=adminPost/updatePost/{{ post.id }}" enctype="multipart/form-data">
                    <div class="col-lg-4 col-md-6" style="width: 370px">
                        <div class="card h-100">
                            <div class="single-post post-style-1">

                                <div class="blog-image">
                                    <img id="output" width="200"/></div>
                                <input type="text" value="{{ post.titre }}" name="titre" id="titre">
                                </br></br>
                                <input type="text" value="{{ post.chapo }}" name="chapo" id="chapo">
                                </br></br>
                                <input type="date" value="{{ post.date_mjr }}" name="date_mjr">
                                </br></br>
                                <input type="date" value="{{ post.date_modif }}" name="date_modif">
                                </br></br>
                                <input type="file" name="file" id="file" onchange="loadFile(event)">
                                <input type="submit" name="Update" class="btn" value="Valider">
                                <div class="blog-info">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                </a>
            </div>

        </div>
        </div>
    </section>
    </div>

    <script>
        var loadFile = function (event) {
            var file = document.getElementById('output');
            file.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>


    </body>
    </html>
{% endblock %}

{% block javascript %}
<script src="vue/common-js/jquery-3.1.1.min.js"></script>

<script src="vue/common-js/tether.min.js"></script>

<script src="vue/common-js/bootstrap.js"></script>

<script src="vue/common-js/scripts.js"></script>

{% endblock %}

